body {
    font-family: Arial, sans-serif;
    background-color: #9fc5ca;
    margin: 0;
    height: 100vh;
}

.container {
    text-align: center;
    /* background-color: #ffffff; */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

header {
    margin-bottom: 20px;
}
nav{
    font-size:23px;
    margin: 1%;
    padding: 1%;
    font-weight: bolder;
    color: rgb(68, 67, 67);
    margin-bottom: 10%;
}
ul span{
    position: absolute;
    left: 52px;
}
ul li {
    margin-right: 35px;
}
ul {
    margin: 0;
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
  }
  

h1 {
    margin: 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#domain-input {
    width: 72%;
    padding: 20px;
    border: 1px solid #cccccc;
    border-color: transparent;
    border-radius: 4px;
    position: absolute;
    box-shadow: 5px 6px 13px rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 23px;
}

#search-button {
    padding: 10px 20px;
    font-size:23px;
    border: none;
    background-color: #5fb5a9;
    color: #000000;
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    left: 32%;

}

#search-button:hover {
    background-color: #00897b;
}

#results {
    padding: 20px;
    margin-top: 40px;
    background: white;
    border-radius: 4px;
    width: 1099px;
    margin-left: 166px;
    font-size: x-large;
    font-weight: 600;
    box-shadow: 5px 6px 13px rgb(255, 255, 255);

}
.res{
    margin-top:30px;
    font-size: x-large;
    font-weight: 600;
}
.available {
    background: rgb(161, 255, 161);
    /* text-align:start; */
    /* margin-left: ; */
    margin: 5px;

}

.not-available {
    margin: 5px;
    background: rgb(255, 161, 161);
    
}
